<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置别名 -->
     <typeAliases>
<!--    	<package name="com.zsf.zsfblog.po"/>-->
         <typeAlias type="com.zsf.zsfblog.po.Admin" alias="admin"></typeAlias>
         <typeAlias type="com.zsf.zsfblog.po.ManagePage" alias="managePage"></typeAlias>
         <typeAlias type="com.zsf.zsfblog.po.ArticleVO" alias="articleVO"></typeAlias>
    </typeAliases>
</configuration>