.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 130px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.logo>img {
    margin-top: 12px;
    width: 180px;
    height: 55px;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 560px;
    height: 80px;
    font-size: 18px;
    color: #6e7277;
}

.nav-list {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    margin: auto 0;
    line-height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.part {
    display: inline-block;
    width: 3px;
    height: 25px;
    padding: 0;
    margin-top: 30px;
    background-color: #adacb6;
}

.header-tip {
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f34444;
}

.quit {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    margin: auto 0;
    line-height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.quit>a {
    color: #ffacc0;
}

.quit:hover {
    background-color: #e83c65;
    box-shadow: 0px 2px 30px -10px rgba(70, 65, 65, 0.5);
}
.quit:hover>a {
    color: #fff;
}

.writing {
    color: #fff;
    background-color: #00cbba;
    box-shadow: 0px 2px 30px -10px rgba(70, 65, 65, 0.5);
}

.writing>a {
    width: 100%;
    height: 100%;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - 81px);
    background-color: #f3f1f1;
    overflow: hidden;
}

.content {
    width: 75%;
    height: 90%;
    padding: 30px 90px 0 90px;
    margin-top: 40px;
    background-color: #fff;
    /*overflow: hidden;*/
}

.photo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 130px;
    margin-bottom: 35px;
}

.photo>img {
    width: 120px;
    height: 120px;
    border: 1px solid #edeff1;
}

.photo>input {
    position: absolute;
    right: 0;
    width: 62px;
    opacity: 0;
    cursor: pointer;
}

.photo>label {
    position: absolute;
    right: 0;
    width: 60px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #72b872;
    border: 1px solid #72b872;
    border-radius: 10px;
    cursor: pointer;
}

.msg-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 750px;
    height: 60px;
    font-size: 15px;
    border-bottom: 1px solid #edeff1;
}

.title {
    width: 50px;
}

.information {
    width: 260px;
    height: 35px;
    padding-left: 10px;
    margin-left: 30px;
    line-height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #d5d5d5;
    border-radius: 10px !important;
}

.user-name {
    margin-left: 0px;
    margin-top: 12px;
}

.data {
    position: absolute;
    top: 0;
    left: 0;
}

.new-password {
    position: absolute;
    top: -10px;
}

.sex {
    margin-left: 30px !important;
    margin-top: 12px !important;
}

.layui-input-block {
    margin-top: 20px;
    margin-left: 0 !important;
}

.layui-btn {
    background-color: #00c9b9;
}


/* 个人主页 */

.layui-tab {
    padding-top: 5px;
    margin: 0;
}


.layui-tab-title>li {
    padding: 0 10px !important;
}


/* 搜索框 */

.blog-search>form {
    position: relative;
    width: 310px;
    height: 40px;
    line-height: 80px;
}

.search-input {
    position: absolute;
    width: 200px;
    height: 35px;
    padding-left: 25px;
    line-height: 40px;
    border: 2px solid #00cbba;
    border-radius: 4px;
}

.search-input::-webkit-input-placeholder {
    color: #d1d0cf;
}

.search-input:focus {
    outline: 0;
}

.search-icon {
    position: absolute;
    top: -22px;
    left: 2px;
    height: 40px;
    font-size: 26px !important;
    color: #848484;
}

.blog-btn {
    position: absolute;
    right: 10px;
    height: 37px;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 4px;
}


/* 中间内容部分 */

.home-content {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    background-color: #f3f1f1;
}

.home-personal-msg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 370px;
    background-color: #fff;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
    margin-bottom: 20px;
}

.home-personal-header {
    position: relative;
    width: 280px;
    height: 249px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.please-login {
    position: absolute;
    top: 54px;
    left: 81px;
    width: 110px;
    padding: 2px 7px;
    font-size: 45px;
    font-weight: bold;
    color: #00cbba;
}

.please-login-last {
    color: #00a1d6a8;
    text-decoration: underline;
}

.home-personal-header>img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
}

.home-personal-header>h1 {
    margin-top: 10px;
    font-size: 24px;
}

.home-personal-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100px;
    padding: 5px 15px;
    background-color: #fff;
}

.home-personal-footer>div {
    display: flex;
    justify-content: center;
    width: 240px;
    font-size: 16px;
    color: #8c8c8c;
}

.home-personal-footer>div>i {
    width: 16px;
    margin-right: 8px;
}

.article-msg>i {
    margin-right: 5px;
}

.article-msg>p {
    margin-left: 5px;
    font-size: 14px;
    color: #ff633c;
}


/* 主页博文部分 */

.home-content-right {
    width: 790px;
}

.content-right-box {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.content-header-nav {
    display: flex;
    justify-content: space-between;
}

.home-blog-msg {
    width: 700px;
    height: 155px;
    padding: 15px 10px 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 8px;
}

.home-blog-header {
    display: flex;
    justify-content: space-between;
}

.home-content-blog {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-blog-title {
    font-size: 26px;
    font-weight: bold;
    color: #09b0e1;
}

.home-blog-btn>button {
    padding: 2px 7px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 8px;
}

.gray {
    color: #6ac1de;
    border: 1px solid #58d5ff;
}

.red {
    color: #ef81a5;
    border: 1px solid #e9a7bd;
}

.home-blog-content {
    font-size: 12px;
}

.home-blog-content>div>ul>li {
    padding: 5px 6px;
}

.home-blog-time {
    padding: 5px 0 !important;
    color: #000 !important;
    font-weight: bold;
}

.blog-content-main {
    display: flex;
    justify-content: space-between;
}

.blog-text {
    width: 600px;
    height: 80px;
    font-size: 14px;
}

.blog-img {
    padding: 4px;
    border: 1px solid #e5e5e5;
}

.blog-img>img {
    width: 150px;
    height: 110px;
}

.blog-label>ul>li {
    display: inline-block;
    padding: 2px 7px;
    color: #ff4500;
    background-color: #fff;
    border: 1px solid #ff4500;
    border-radius: 12px;
}

.content-right-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}


/* 博客展示 */

.blog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-title {
    font-size: 45px;
    font-weight: bold;
}

.blog-msg>ul>li {
    font-size: 14px;
    color: #8a8989;
}

.li-style {
    padding: 5px 12px;
}

.li-style::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #dcdcdc;
}

.li-rose {
    padding: 0 7px;
    font-weight: bold;
    border: 1px solid #8a8989;
    border-radius: 16px;
}

.blog-content {
    width: 900px;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 15px;
    border-top: 1px solid #cecdcd;
}

.right-nav {
    position: fixed;
    top: 12%;
    left: 15px;
    width: 270px;
    height: 700px;
    padding: 10px 5px;
    background-color: #f3f1f1;
    transition: .5s;
    overflow: scroll;
}

.left {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 12%;
    right: 0;
    width: 85px;
    height: 100px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06);
    transition: .5s;
}

.left>div {
    cursor: pointer;
}

.left>div>i {
    margin-right: 5px;
}

/* 写博文 */

.blog-edit {
    width: 100%;
}

.layui-form-item {
    flex-grow: 2;
}

.blog-choose {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 6px;
}
.content-edit-header{
    display: flex;
    justify-content: space-between;
}


/* 消息通知 */
.my-msg {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.my-msg-content>div {
    position: relative;
    height: 28px;
    padding-left: 8px;
    margin: 0 20px 15px 12px;
    line-height: 15px;
    font-size: 16px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.msg-tip {
    position: absolute;
    top: -6px;
    right: -3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f34444;
}

.msg-user-name {
    color: #56b1e8;
}

.msg-blog-name>a {
    font-size: 16px;
    color: #56b1e8;
}

.msg-blog-name>a:hover {
    text-decoration: underline;
    color: #56b1e8;
}