<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsf.zsfblog.mapper.BlogTypeMapper">
    <select id="listBlogType" resultType="com.zsf.zsfblog.po.BlogType">
        SELECT * FROM t_blogtype;
    </select>
    <select id="selectBlogTypeById" resultType="com.zsf.zsfblog.po.BlogType">
        SELECT * FROM t_blogtype WHERE id=#{id};
    </select>
</mapper>